<!DOCTYPE html>

<html>
<head>
    <meta name='viewport' content='width=device-width' />
    <link rel="stylesheet" href="~/Content/styles.css">
    <title>Index</title>
</head>
<body>
    <div class="sidenav">
        <a href='#' onclick='onIpSearchTab()'>Поиск по IP</a>
        <a href='#' onclick='onCitySearchTab()'>Поиск по городу</a>
    </div>
    <div class="content">
        <div id='partialViewPlaceholder'></div>
    </div>
    <script src='~/Scripts/app.js'></script>
</body>
</html>
