<!DOCTYPE html>

<html>
<head>
    <meta name='viewport' content='width=device-width' />
    <title>Index</title>
    <script src='~/Scripts/app.js'>
    </script>
</head>
<body>
    <div>
        <ul>
            <li><a href='#' onclick='onIpSearchTab()'>Поиск по IP</a></li>
            <li><a href='#' onclick='onCitySearchTab()'>Поиск по городу</a></li>
        </ul>
        <div id='partialViewPlaceholder'></div>
    </div>
</body>
</html>
