<div>IP-адрес:<input id='ipInput' onkeyup="verifyIpInput()" type='text' /> <button onclick='onIpSearch()'>Искать</button></div>
<div>Страна:<span id="countrySpan"></span></div>
<div>Регион:<span id="regionSpan"></span></div>
<div>Город:<span id="citySpan"></span></div>
<div>Организация:<span id="orgSpan"></span></div>
<div>Широта:<span id="latSpan"></span></div>
<div>Долгода:<span id="longSpan"></span></div>

<script src='~/Scripts/IpSearch.js'></script>